html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-family: fantasque;
    scroll-behavior: smooth;
    overflow-x: hidden;
    letter-spacing: 0.05rem;
}

body {
    background: #ffffff url("./img/bg.jpg") fixed bottom;
}

a {
    text-decoration: none;
    user-select: none;
}

.header {
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.3rem);
}

.header .logo {
    background-color: rgba(red, green, blue, 0.2);
    backdrop-filter: blur(1rem);
    color: red;
    font-size: 2rem;
    border: 0.09rem solid red;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.header input {
    width: 7rem;
    border-radius: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin: 0rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.login-form p,
.register-form p,
.login-form .button,
.register-form .button {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
    align-items: center;
}

.login-form .button input,
.register-form .button input {
    padding: 1rem 2rem;
    letter-spacing: 0.05rem;
    border-radius: 2rem;
    margin: 0 0 1rem 0;
}

.login-form,
.register-form {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.login-form form,
.register-form form {
    width: 40rem;
    height: auto;
    padding: 0 0rem 0 0rem;
    border-radius: 2rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
    font-size: 1.1rem;
    justify-content: center;
}

.login-form .login-section,
.register-form .register-section {
    margin: 2rem 0 2rem 0;
}

.login-form .login-section-title,
.register-form .register-section-title {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-left: 1rem solid #1170fd;
    border-radius: 1rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
}

.component {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem 0 0 0;
}

.label {
    display: flex;
    align-items: center;
    height: 0.5rem;
    width: 100%;
    padding-left: 1rem;
    margin: 1rem 0 0rem 2rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0rem 2rem 0rem 0rem;
}

.input-field .errormessage {
    position: relative;
    color: red;
    font-size: 0.88rem;
    margin: 0.5rem 0 0.2rem 0.3rem;
    padding: 0 1rem 0 0.5rem;
}

/* .section input[type="date"],
.section input[type="text"],
.section input[type="date"],
.section input[type="email"],
.section input[type="date"],
.section input[type="button"],
.section input[type="submit"],
.section input[type="password"],
.section select {
    padding: 0.5rem 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 5rem;
    border-radius: 1rem;
    margin: 0 0 0.1rem 0;
} */

.section {
    margin: 4rem 4rem;
    border: 0.01rem solid black;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    color: #ffffff;
    padding: 1rem;
    font-size: 1.1rem;
}

.section .component {
    padding: 0 0.5rem 0 0.5rem;
    margin: 1rem 0.5rem 0 0.5rem;
}

.section-title {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    color: white;
    padding-left: 1rem;
    margin: 0 0 0.5rem 0;
    border-left: 1rem solid #1170fd;
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1.3rem;
}

.section-components {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: relative;
    grid-gap: 0 30px;
    width: 100%;
}

.section-components-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 2fr));
    position: relative;
    grid-gap: 0 30px;
    width: 100%;
}
/* 
.section-components > div::after,
.section-components-2 > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 200px);
}

@media (max-width: 30rem) {
    .section-components > div:nth-child(1n + 2)::after,
    .section-components-2 > div:nth-child(1n + 2)::after {
        border-top: 0.1rem solid #000;
    }
}

@media (max-width: 1920px) {
    .section-components > div:nth-child(3n + 1)::after,
    .section-components-2 > div:nth-child(2n + 3)::after {
        border-top: 0.1rem solid #000;
    }
} */
